$box-color: #29475B

.newpost
  $caption-color: #81ffdf

  background: $box-color
  &__caption
    font-size: 17px
    color: $caption-color
    border-bottom: 1px double $caption-color

  &__item
    &--title
      background: rgba(0,0,0,.3)
.topview
  $caption-color: #81ffdf

  background: $box-color
  &__caption
    font-size: 17px
    color: $caption-color
    border-bottom: 1px double $caption-color
  &__list
    .rank
      span
        background: #fff601
    a
      font-size: 11px
      line-height: 12px
    i
      font-size: 12px
.profile
  $title-bg: #3c763d
  &__title
    background: $title-bg
  ul
    li
      border-radius: 0px
      padding: 10px 15px
      font-size: 14px
      color: $title-bg