$box-color: #29475B;

.home-content {
  $caption-color: #81ffdf;
  //background: $box-color;
  &__left{
    &__post{
      &__vote{
        font-size: 13px;
        position: relative;
        right: 0px;
        bottom: 23px;
      }
    }
  }
  &__right{
    &--dark{
      background: #29475B;
    }
    &__newpost{
      &__caption {
          font-size: 17px;
          color: $caption-color;
          border-bottom: 1px double $caption-color;
        }
      &--transparent{
        background: rgba(0, 0, 0, .3);
      }
    }
    &__topview{
      &__caption{
        font-size: 17px;
        color: $caption-color;
        border-bottom: 1px double $caption-color;
      }
      &__list{
        &--bgyellow{
          background: #fff601;
        }
        a {
          font-size: 11px;
          line-height: 12px;
        }
        i {
          font-size: 12px;
        }
      }
    }
  }
}

.manage {
  $title-bg: #3c763d;
  &__btn--green{
    background: $title-bg;
  }
  &__title {
    background: $title-bg;
  }
  ul li {
      padding: 10px 15px;
      font-size: 14px;
      color: $title-bg;
  }
  &__detail{

  }
  &__account{

  }
  &__update{

  }
  &__article-info{
    ul li{
      font-size: 16px;
    list-style-type: square;
      padding: 7px 8px;
    }
  }
  &__article-new{

  }
  &__article-manage{
    ul li{
      font-size: 16px;
    }

   }

}

.admin{
  $green: #3c763d;

  &__button{
    &--outline-none:focus{
      outline: none!important;
      box-shadow: none;
    }
  }

  &--bg-green{
    background: $green;
  }
  &__menu-left{
    height: 75vh;
    &--bg-dark{
      background: #2A3F54;
    }
    &--bg-darklight{
      background: #374A5E;
    }
    button{
      font-size: 15px;
    }
  }
  &__header{
    &__search{
      i{
        color: green;
      }
    }
    &__notify{
      i{
        padding: 7px;
        font-size: 19px;
      }
      span{
        padding: 1px;
        font-size: 11px;
        position: relative;
        bottom: 12px;
        right: 16px;
      }
    }

  }
  &__content{
  }
}