body {
    background: #eee;
}
.test1 {
    width: 100% ;
    background: #ABABAB;
}
.test2 {
    margin-top: 3px;
    border: 1px solid #000;
    width: 100% ;
    background: #fff;
}
.test3 {
    width: 100%;
    /*border-radius: 15px;*/
    /*background: #4E574D;*/
}